
.container {
  width: 94%;
  max-width: 1400px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width:900px) {
  .container {
    flex-wrap: wrap;
  }
}